body {
    margin: 0;
    overflow-x: hidden;
    background-color: black;
}

.canvas-container {
    position: relative;
}

#canvas {
    background-color: black;
    position: absolute;
    width: 100%;
    height: auto;
    display: block; /* Prevents default inline behavior */
}

#canvas3 {
    background-color: black;
    position: absolute;
    width: 100%;
    height: auto;
    display: block; /* Prevents default inline behavior */
}

#canvas2 {
    position: absolute;
    width: 100%;
    height: auto;
    display: block; /* Prevents default inline behavior */
}

#canvas4 {
    position: absolute;
    width: 100%;
    height: auto;
    display: block; /* Prevents default inline behavior */
}