body {
    font-family: 'Courier New', Courier, monospace;
}


#content {
    width: auto;
    min-height: 100vh;

    background: black;  /* fallback for old browsers */
    color: white;
    


}

#content-2 {
    width: auto;
    min-height: 100vh;

    background: white;  /* fallback for old browsers */
    color: black;
    

}
